body,*{
    direction:ltr;
    text-align: left;

}

.form-group{
    position: relative;
}
.form-group select + .fa-caret-down,
.form-group .select2 + .fa-caret-down
{
    position: absolute;
    top: 45px;
    right: 24px;
}

.aside.active {
left: 0px;
}
.main-content {
width: calc(100% - 280px);
margin-left: 280px;
margin-right: 0px;
}

.dropdown-menu{
    text-align: left;
}

.aside.in-active {
    left: -280px;
}

.main-content.active {
    width: 100% !important;
    margin-left: 0px !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    border-right: 4px solid #38b59c;
}

.text-lg-end {
    text-align: right !important;
}

.aside .item.active {
    border-left: none;
    border-right: 4px solid #38b59c;
}
nav ul li a{
    padding-left: 59px;
    padding: 0px 0px 0px 59px
}

nav ul li a .first{
    position: absolute;
    right: 18px;
    top: 23px;

}



/* Setting */
.left-right{
    text-align: left !important;
}
.settings-tab-opener span
{
    margin-right: 5px;
}

/* DataTable*/

.dataTables_wrapper #dataTableBuilder_filter{
    text-align: right !important;
}
.btn-modal{
    margin-top: 25px;
    text-align: right !important;
}

/* add exercise to category*/

.add_exercise input[type='submit']{
    float: right;
    width: 200px;
    margin-top: 50px;
}
